<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Когда-куда?</title>
  <meta property="og:url" content="https://calmowl.github.io/bioaero/">
  <meta property="og:title" content="Когда-куда?">
  <meta property="og:image" content="og-image.jpg">
  <meta property="og:image:alt"
    content="Фото из центра зрительного зала кинотеатра, на экране крупно движущийся человек в костюме Пьеро, на боковых стенах зала тёплым оражневым светом горят похожие на канделябры лампы-бра, на потолке лепнина">
  <meta property="og:description" content="Выбираем, где и когда молча посидим вместе пару часов">
  <meta property="og:locale" content="ru">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <p>Когда-куда?</p>
    </header>
    <main>
      <div class="film">
        <img class="film-poster" src="poster-backrooms.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">Backrooms (2026)</h2>
          <a class="film-trailer" href="https://youtu.be/0HjdiohVOik">
            <span class="icon"></span>трейлер</a>
          <ul class="film-screening">
            <li>
              <p>чт 28.05 20:30 Aero</p>
              <a class="film-tickets" href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=48271">
                <span class="icon-tickets"></span>
                билеты
              </a>
            </li>
            <li>
              <p>пт 29.05 18:00 Bio Oko</p> <a class="film-tickets" href="https://biooko.net/?projection=50192"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
            <li>
              <p class="film-screening--weekend">сб 30.05 18:00 Lucerna</p> <a class="film-tickets"
                href="https://www.kinolucerna.cz/?projection=50048"><span class="icon-tickets"></span>билеты</a>
            </li>
            <li>
              <p class="film-screening--weekend">сб 30.05 20:30 Svetozor</p> <a class="film-tickets"
                href="https://www.kinosvetozor.cz/?cinema=3&hall=1%2C2%2C3%2C24&sort=sort-by-data&projection=50103"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
            <li>
              <p class="film-screening--weekend">вс 31.05 18:00 Lucerna</p> <a class="film-tickets"
                href="https://www.kinolucerna.cz/?projection=50061"><span class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-if_i_had_legs.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">If I Had Legs I’d Kick You (2025)</h2>
          <a class="film-trailer" href="https://youtu.be/ywFDoT7LBbQ"><span class="icon"></span>трейлер</a>
          <ul class="film-screening">
            <li>
              <p>вт 2.06 20:15 Lucerna</p> <a class="film-tickets"
                href="https://www.kinolucerna.cz/?projection=50074"><span class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster zero-poster" src="svg/clapperboard-question-mark.svg" alt="">
        <div class="film-info">
          <h2 class="film-title">Aero naslepo</h2>
          <a class="film-trailer" href="https://boxd.it/uqXaW">Список фильмов предыдущих сеансов</a>
          <p>"Když zkusíte „Aero naslepo“, nebudete vědět, na jaký film jste se vypravili. Předem neplatíte nic.
            Po projekci dostanete možnost ocenit zážitek částkou, kterou si sami určíte."
          </p>
          <ul class="film-screening">
            <li>
              <p>ср 3.06 20:30 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=48280"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-flash_gordon.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">Flash Gordon (1980)</h2>
          <a class="film-trailer" href="https://youtu.be/f31Je2x4gjE"><span class="icon"></span>трейлер</a>
          <p>"супергеройская космоопера"</p>
          <ul class="film-screening">
            <li>
              <p>пн 8.06 20:30 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=49237"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-close_encounters.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">Close Encounters of the Third Kind (1977)</h2>
          <a class="film-trailer" href="https://youtu.be/Yvb3geyPC14"><span class="icon"></span>трейлер</a>
          <p>часть double feature Спилберга, если идти на оба, можно взять один билет за 320 крон вместо 190х2</p>
          <ul class="film-screening">
            <li>
              <p>пт 12.06 17:30 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=49238"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-disclosure_day.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">Disclosure Day (2026)</h2>
          <a class="film-trailer" href="https://youtu.be/SCYT8vb2siQ"><span class="icon"></span>трейлер</a>
          <p>часть double feature Спилберга, если идти на оба, можно взять один билет за 320 крон вместо 190х2</p>
          <ul class="film-screening">
            <li>
              <p>пт 12.06 20:30 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=49239"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-kid.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">The Kid (1921)</h2>
          <a class="film-trailer" href="https://youtu.be/O5WXokyub-4"><span class="icon"></span>трейлер</a>
          <p>немой фильм с Чарли Чаплином</p>
          <ul class="film-screening">
            <li>
              <p class="film-screening--weekend">вс 21.06 17:30 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=49258"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-interstellar.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">Interstellar (2014)</h2>
          <a class="film-trailer" href="https://youtu.be/LY19rHKAaAg"><span class="icon"></span>трейлер</a>
          <ul class="film-screening">
            <li>
              <p class="film-screening--weekend">вс 21.06 19:15 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=49245"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-the_emperors_new_groove.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">The Emperor's New Groove (2000)</h2>
          <a class="film-trailer" href="https://youtu.be/vjlPrTzOPUI"><span class="icon"></span>трейлер</a>
          <ul class="film-screening">
            <li>
              <p>ср 24.06 20:30 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=49247"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="film">
        <img class="film-poster" src="poster-stray_dog.jpg" alt="">
        <div class="film-info">
          <h2 class="film-title">Stray Dog (1949)</h2>
          <a class="film-trailer" href="https://youtu.be/afA0M0rO72I"><span class="icon"></span>трейлер</a>
          <p>фильм на японском, субтитры чешские и английские</p>
          <ul class="film-screening">
            <li>
              <p>чт 25.06 18:00 Aero</p> <a class="film-tickets"
                href="https://www.kinoaero.cz/?cinema=1&sort=sort-by-data&projection=49248"><span
                  class="icon-tickets"></span>билеты</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer>
      <a class="footer-link" href="https://t.me/ahojbiograf"><span class="footer-telegram"></span>choose wisely</a>
    </footer>
  </div>
</body>

</html>