---
import { FILMS } from "../filmdata.js";
import FilmCard from "../components/FilmCard.astro";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Когда-куда?</title>
    <meta property="og:url" content="https://calmowl.github.io/bioaero/" />
    <meta property="og:title" content="Когда-куда?" />
    <meta property="og:image" content="og-image.jpg" />
    <meta
      property="og:image:alt"
      content="Фото из центра зрительного зала кинотеатра, на экране крупно движущийся человек в костюме Пьеро, на боковых стенах зала тёплым оражневым светом горят похожие на канделябры лампы-бра, на потолке лепнина"
    />
    <meta
      property="og:description"
      content="Выбираем, где и когда молча посидим вместе пару часов"
    />
    <meta property="og:locale" content="ru" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="/bioaero/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <p>Когда-куда?</p>
      </header>
      <main>
        {FILMS.map((film) => <FilmCard film={film} />)}
      </main>
      <footer>
        <a class="footer-link" href="https://t.me/ahojbiograf"
          ><span class="footer-telegram"></span>choose wisely</a
        >
      </footer>
    </div>
  </body>
</html>
