---
const { screening } = Astro.props;
---

<ul class="film-screening">
  <li>
    <p>
      <span>{screening.date}</span>
      <span>{screening.time}</span>
      <span>{screening.place}</span>
    </p>
    <a class="film-tickets" href={`${screening.ticketsUrl}`}>
      <span class="icon-tickets"></span>
      билеты
    </a>
  </li>
</ul>
